body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: black;
    height: 65px;
}
nav h1{
    color: white;
    font-size: 25px;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
}
nav a{
    color: white;
    text-decoration: none;
}
.main_baner{
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: white;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(../img/pexels-nemuel-sereti-6424586.jpg);
    animation: banner 28s infinite linear;
    
}
.banner_cont{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner_cont h1{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 60px;
    text-align: center;
}
.banner_cont a{
    text-decoration: none;
    color: white;
    padding: 9px 20px;
    border: 1px solid white;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
.banner_cont a:hover{
    background-color: white;
    color: black;
}
@keyframes banner{
    0%{background-image: url(../img/pexels-nemuel-sereti-6424586.jpg);}
    25%{background-image: url(../img/pexels-nemuel-sereti-6424586.jpg);}
    26%{background-image: url(../img/computer.jpg);}
    50%{background-image: url(../img/computer.jpg);}
    51%{background-image: url(../img/pexels-nemuel-sereti-6424586.jpg);}
    75%{background-image: url(../img/pexels-nemuel-sereti-6424586.jpg);}
    76%{background-image: url(../img/computer.jpg);}
    100%{background-image: url(../img/computer.jpg);}
}
.fondoblanco{
    padding: 9px 20px;
    border: 1px solid white;
}
.color{
    background-color: white;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.imagenseccion1{
    width: 30%;
    filter: blur(1px);
    padding-left: 5%;
    padding-right: 5%;
}

.seccion2{display: flex;
flex-direction: row;
align-items: center;
padding-left: 5%;
    padding-right: 5%;
}
.aliniado_derecha{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: start; 
}
.aliniado_derecha img{
    
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}